@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid gold; */
}

:root {
  --colorBrandPrimary: #ff2b85;
  --colorBrandPrimaryDark: #c21760;
  --colorheadingText: #333333;
  --colorparagraphText: #000000;
  --colorwhite: #ffff;
  --color-hover-links: #fdf2f7;
  --color-background:#F7F7F7;
  --padding-inline-section: 20px;
}
body {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif; */
  color: var(--colorheadingText);
  /* font-family: 'Roboto', sans-serif; */
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}


.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
  overflow: hidden;
}

.primary-button {
border: 1px solid var(--colorBrandPrimary);
font-weight: 600;
font-size: 0.9rem;
width: 70px;
text-align: center;
padding: 6px 8px;
border-radius: 8px;
color: var(--colorBrandPrimary);


}



.secondary-button {
  color: var(--colorwhite);
  padding: 6px 16px;
  border-radius: 7px;
  font-weight: 500;
  text-align: center;
  background-color: var(--colorBrandPrimaryDark);
}



a {
  text-decoration: none;
  color: black;
  /* text-align: center; */
  display: flex;
  align-items: center;
 
}
li {
  list-style: none;
  text-align: center;
  
}
li{
  transition: 0.1s ease-in;
  
}
.btn-hero-section{
  transition: 0.1s ease-in;
}
.btn-hero-section:hover{
  /* background-color: var(--color-hover-links); */
  transform: scale(1.1);
  border-radius: 8px;
}
li:hover{
  background-color: var(--color-hover-links);
  transform: scale(1.1);
  border-radius: 8px;
}

/* main container */
.main-container{
  height: 100vh;
  background-color: var(--color-background);
}
/* nav */
nav {
  background-color: #ffffff;
  box-shadow: 0px 10px 19px 2px rgba(0, 0, 0, 0.1);

}
.nav-header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left-side {
  height: 20vh;
}
.nav-left-side img {
  height: 100%;
}

.nav-right-side ul {
  display: flex;
  align-items: center;
  gap: 1.5em;
 

 
 
}
.nav-right-side i{
  padding: 8px;
}


.arrow-and-cart-clr {
  color: var(--colorBrandPrimaryDark);
 
 
 

}

.hero-section{
  /* background-color: #F7F7F7; */
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  

}
/* left side */
.hero-left-side{
  width: 50%;
  display: flex;
  gap: 2em;
  flex-direction: column;
  align-items: start;
  justify-content: center;
 padding-inline: 3em;
 flex-wrap: wrap;
 
}
.heading-left-side h1{
  font-size: 2.3rem;
  font-weight: 400;
}

.input-left-side{
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 13vh;
  border-radius: 10px;
  background-color:#FFFFFF;
  padding: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}
.input-left-side input{
  height: 8vh;
 width: 75%;
 padding: 1em;

border-radius: 10px;
border: 1px solid gray;
}

.btn-hero-section{
  height: 8vh;
  width: 15%;
  font-size: 0.8rem;
  

}
/* right side */

.hero-right-side{
  width: 50%;
 /* height: 100vh; */
  position: relative;
  overflow: hidden;
}
.hero-right-side img{
  width: 100%;
  height: 100%;

  position: absolute;
 left:9em;
 
  
 
}


/* food prepare section or sec section */
.foodPrepare-section{
  height: 100vh;
  background-color: aquamarine;
}